#radi{
    margin: 100px 10%;
    color: goldenrod;
}
.appearance{
    background-color: black;
}
#imagesize{
    height: 700px;
    width: 100%;
}
div.col-4{
    padding: 0px;
}
.container{text-align: center;
    color: gold
}
.zee{
    height: 250px;
    width: 100%;
    padding: 10px;
}